#second-div {
  width: 90%;
  margin: auto;
  margin-top: 200px;
}

#second-div h3 {
  padding-left: 10px;
  margin-bottom: 10px;
}

.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* padding: 20px; */
  margin-bottom: 10px;
}

.boxes a {
  width: calc(100% / 5);
}

.boxes a img {
  width: 100%;
  border-radius: 10px;
}

.box {
  position: relative;
  padding-left: 10px;
}

.box p {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: rgb(58, 116, 5);
  background-color: #fff;
  border: 1px solid chartreuse;
  border-radius: 50px;
  padding: 5px;
}
