.fifth-container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.cards {
  display: flex;
}

.card {
  text-align: start;
  width: calc(100% / 6);
  padding: 10px;
}

.card a img {
  width: 100%;
}

.card a {
  color: #333;
  text-decoration: none;
}

.grey {
  color: #949090;
}

.green {
  color: green;
  font-size: 0.8rem;
}

.crossed {
  text-decoration: line-through;
}

.title-fifth {
  margin: 20px 0;
}
