#header {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#search-bar {
  width: 70%;
  border: 2px #333 solid;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  background-color: #f2f2f2;
}

#search-bar input {
  border: none;
  width: 90%;
  height: 90%;
  background-color: #f2f2f2;
}

#search-bar input:focus {
  outline: none;
  outline-color: transparent;
}

#bottom-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;

  padding: 5px;
}

#bottom-header ul li {
  width: calc(100% / 8);
  /* padding: 5px; */
}

#bottom-header ul li a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
}

.basket {
  padding: 5px;
}

.basket:hover {
  background-color: #f2f2f2;
  border-radius: 50%;
}
